.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

.logo {
  font-size: 34px;
  font-weight: 700;
}

.navLinks {
  display: flex;
  justify-content: space-between;

  a {
    padding: 10px;
    font-size: 20px;

    &.active {
      color: tomato;
    }
  }
}